/* Antonio Cruel 75203*/

nav.theme-dark,
nav.theme-dark ul.links-wrapper.active {
  background-color: #0e121c;
}

header.theme-dark {
  background-color: #0f172a;
}

header.theme-dark h1 {
  color: var(--sky-400);
}

section.theme-dark {
  background-color: #0f172a;
}

footer.theme-dark {
  background-color: #000000;
}

header .col-text h2,
.col-1 > h3 {
  line-height: 1.8;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #00c6ff,
    /* Start color */ #15ff00 /* End color */
  );

  /* Clip the background to the text's shape */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent so the background shows */
  color: transparent;
}

nav .brand img {
  height: 150px; /* Adjust this number to fit your preference */
  width: auto; /* Keep the aspect ratio correct */
}

.img-small {
  max-width: 450px;
}
.img-medium {
  max-width: 450px;
}

/* Privacy Page Link Styling */
body.theme-dark a {
  text-decoration: underline; /* Keeps it clear they are legal links */
  transition: 0.3s;
}

body.theme-dark a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

/* Fix for the Back Button text */
.btn-back span {
  color: #ffffff !important;
}
